<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>What is the name of this cat </h2>
    <img src ="Sylster.jpeg">
    <form action = "/member" method="POST">
        <label>
            <input type ="text" name = "answer" id="answer">
        </label>
        <input type = "submit">
    </form>
</body>
</html>